[submodule "Poto/vendor/spdlog"]
	path = Poto/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Poto/vendor/GLFW"]
	path = Poto/vendor/GLFW
	url = https://github.com/Lazarus-glhf/glfw.git
[submodule "Poto/vendor/imgui"]
	path = Poto/vendor/imgui
	url = https://github.com/Lazarus-glhf/imgui.git
[submodule "Poto/vendor/glm"]
	path = Poto/vendor/glm
	url = https://github.com/g-truc/glm.git
